<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="description" content="Wordiser para aprender ingles y como aprender ingles, con cursos de ingles gratis incluyendo ingles basico!">

<meta name="keywords" content="aprender ingles, como aprender ingles, curso de ingles, ingles basico, ingles gratis">

<meta name="author" content="Wordiser">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- SITE TITLE -->
<title>WORDISER, Learning English Made Simple</title>

<!-- =========================
      FAV AND TOUCH ICONS  
============================== -->
<link rel="icon" href="images/favicon.png">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

<!-- =========================
     STYLESHEETS   
============================== -->
<!-- BOOTSTRAP -->
<link rel="stylesheet" href="css/bootstrap.min.css">

<!-- FONT ICONS -->
<link rel="stylesheet" href="assets/elegant-icons/style.css">
<link rel="stylesheet" href="assets/app-icons/styles.css">
<!--[if lte IE 7]><script src="lte-ie7.js"></script><![endif]-->

<!-- WEB FONTS -->
<!-- <link href='http://fonts.useso.com/css?family=Roboto:100,300,100italic,400,300italic' rel='stylesheet' type='text/css'> -->

<!-- CAROUSEL AND LIGHTBOX -->
<link rel="stylesheet" href="css/owl.theme.css">
<link rel="stylesheet" href="css/owl.carousel.css">
<link rel="stylesheet" href="css/nivo-lightbox.css">
<link rel="stylesheet" href="css/nivo_themes/default/default.css">
<link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css" >
<!-- ANIMATIONS -->
<link rel="stylesheet" href="css/animate.min.css">

<!-- CUSTOM STYLESHEETS -->
<link rel="stylesheet" href="css/styles.css">

<link rel="stylesheet" href="css/colors/purple.css"> 

<!-- RESPONSIVE FIXES -->
<link rel="stylesheet" href="css/responsive.css">


<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<script src="js/respond.min.js"></script>
<![endif]-->

<!-- JQUERY -->
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="html5lightbox/html5lightbox.js"></script>
<script src="https://unpkg.com/parse/dist/parse.min.js"></script>


<script src="./node_modules/angular/angular.js"></script>
<script src="./node_modules/angular-translate/dist/angular-translate.js"></script>

<!-- <script src="./js/angular-1.0.1.min.js"></script> -->
<script src="./app.js"></script>

    
</head>

<body ng-app="myApp">
<!-- =========================
     PRE LOADER       
============================== -->
<div class="preloader">
  <div class="status">&nbsp;</div>
</div>

<!-- =========================
     HEADER   
============================== -->
<header class="header" data-stellar-background-ratio="0.5" id="home">

<!-- COLOR OVER IMAGE -->
<div class="color-overlay"> <!-- To make header full screen. Use .full-screen class with color overlay. Example: <div class="color-overlay full-screen">  -->

	<!-- STICKY NAVIGATION -->
	<div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation">
		<div class="container">
			<div class="fixed navbar-header">
				
				<!-- LOGO ON STICKY NAV BAR -->
				<button type="button" class="mk-fixed navbar-toggle" data-toggle="collapse" data-target="#kane-navigation">
				<span class="sr-only">{{ 'toggle_navigation' | translate }}</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="#"><img src="images/logo-black.png" alt=""></a>
				
			</div>
			
			<!-- NAVIGATION LINKS -->
			<div class="fixed collapse" id="kane-navigation">
				<ul class="nav navbar-nav navbar-right main-navigation">
					<li><a href="#home">{{ 'Home' | translate }}</a></li>
					<li><a href="#leanhard">{{ 'Learning_is_Hard2' | translate }}</a></li>
					<li><a href="#whyus">{{ 'The_Solution' | translate }}</a></li>
					<li><a href="#features">{{ 'Features' | translate }}</a></li>
					<li><a href="#studentssay">{{ 'What_Students_Say' | translate }} </a></li>
					<li><a href="#download">{{ 'Get_In_Touch' | translate }} </a></li>
				</ul>
			</div>
		</div> <!-- /END CONTAINER -->
	</div> <!-- /END STICKY NAVIGATION -->
	
	
	<!-- CONTAINER -->
	<div class="container">
		
		<!-- ONLY LOGO ON HEADER -->
		<div class="only-logo">
			<div class="navbar">
				<div class="navbar-header">
					<img src="images/logo.png" alt="">
				</div>
				<div class="slogan">
			             	<span>{{ 'Learning_English_Made_Simple' | translate }}</span>
			             </div>
			</div>
		</div> <!-- /END ONLY LOGO ON HEADER -->
		
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				
				<!-- HEADING AND BUTTONS -->
				<div class="intro-section">
					
					
					<!-- FEEDBACKS -->
		<div id="feedbacks2" class="welcome-message owl-carousel owl-theme">
			
			<!-- SINGLE FEEDBACK -->
			<div class="feedback">
				<h1 class="intro">{{ 'YOU_LEARN' | translate }} <b>{{ 'BETTER' | translate }}</b></h1>
				
				
			</div>
			<!-- /END SINGLE FEEDBACK -->
			<!-- SINGLE FEEDBACK -->
			<div class="feedback">
				<h1 class="intro">{{ 'WHEN_YOU' | translate }} <b>{{ 'DON_T_FORGET' | translate }}</b></h1>
				
				
			</div>
			<!-- /END SINGLE FEEDBACK -->
			
			<!-- /END SINGLE FEEDBACK -->
			<!-- SINGLE FEEDBACK -->
			<div class="feedback">
				<h1 class="intro">{{ 'YOUR_PERSONAL' | translate }} <b>{{ 'REVISER' | translate }}</b></h1>
				
				
			</div>
			<!-- /END SINGLE FEEDBACK -->
			
			
		</div>
		<!-- /END FEEDBACKS -->
					
					<!-- BUTTON -->
					<div class="buttons" id="download-button">
						<div class="join-bottoms">
							<a href="https://app.wordiser.com/#/loginlanguage" class="btn btn-default btn-lg standard-button">{{ 'JOIN_OR_LOGIN' | translate }}</a>
						</div>		
						
						
					</div>


					<!-- /END BUTTONS -->

					<div class="scroll-down-btn">
						<i id = "scroll-down" class="arrow_carrot-down"></i>
					</div>
					
				</div>
				<!-- /END HEADNING AND BUTTONS -->
				
			</div>
		</div>
		<!-- /END ROW -->
		
	</div>
	<!-- /END CONTAINER -->
</div>
<!-- /END COLOR OVERLAY -->
</header>
<!-- /END HEADER -->


<section class="app-brief grey-bg" id="whyus" style = "padding-top: 60px;">

<div class="container">
	<a style = "background:rgb(236, 64, 122);" id = "videos-trigger" href="https://youtu.be/OCvDWlAy2zo?list=PLGG3MxlIGsIpjPsN3aS6VSJH3k3o6Tv-M" class="btn btn-default btn-lg standard-button html5lightbox glowing" title="{{ 'WORDISER_FOR_ENGLISH_LANGUAGE_STUDENTS' | translate }}"><i class="arrow_triangle-right_alt2"></i><span style = "    position: relative;top: 2px;">{{ 'CLICK_FOR_VIDEO' | translate }}</span></a>

	
</div>


</section>


<!-- =========================
     BRIEF LEFT SECTION 
============================== -->
<section class="app-brief scroll-down" id="leanhard">

<div class="container">
	
	<div class="row">
		
		<!-- PHONES IMAGE -->
		<div class="col-md-6 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
			<div class="normal-image">
				<img src="images/CHART2.PNG" alt="">
			</div>
		</div>
		
		<!-- RIGHT SIDE WITH BRIEF -->
		<div class="col-md-6 left-align wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
			
			<!-- SECTION TITLE -->
			<h2 class="dark-text">{{ 'Learning_is_Hard1' | translate }}</h2>
			
			<div class="colored-line-left">
			</div>
			
			<p>
				<b>{{ 'Learning_a_Language_is_hard' | translate }}</b> {{ 'when_up_to' | translate }}
			</p>

			<p>
				{{ 'What_is_more' | translate }}<b>{{ 'but_what_is_the_solution' | translate }}</b>
			</p>
			
			
		</div>
		<!-- /END RIGHT BRIEF -->
		
	</div>
	<!-- /END ROW -->
	
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END SECTION -->


<!-- =========================
     BRIEF LEFT SECTION 
============================== -->
<section class="app-brief grey-bg" id="whyus">

<div class="container">
	
	<div class="row">
		
		<!-- RIGHT SIDE WITH BRIEF -->
		<div class="col-md-6 left-align wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
			
			<!-- SECTION TITLE -->
			<h2 class="dark-text">{{ 'The_Solution_is_Memory_Training' | translate }}</h2>
			
			<div class="colored-line-left">
			</div>
			
			<p>
				{{ 'Learning_English_is' | translate }} <b>{{ 'not_so_hard_if_you_revise' | translate }}</b> {{ 'again_and_again' | translate }}<b>{{ 'What_you_forget' | translate }}</b>
			</p>
			
		</div>
		<!-- /END RIGHT BRIEF -->

		<!-- PHONES IMAGE -->
		<div class="col-md-6 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
			<div class="normal-image">
				<img src="images/Student_retouched.png" alt="">
			</div>
		</div>
		
		
	</div>
	<!-- /END ROW -->
	
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END SECTION -->


<!-- =========================
     SCREENSHOTS
============================== -->
<section class="screenshots" id="screenshot-section" style = "display: none;">

<div class="container" >
	
	<!-- SECTION HEADER -->
	<div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
		
		<!-- SECTION TITLE -->
		<h2 class="dark-text">{{ 'Using_Wordiser_as_a_Student' | translate }}</h2>
		
		<div class="colored-line">
		</div>
		<div class="section-description">
			{{ 'See_why_you' | translate }} <b>{{ 'should' | translate }}</b> {{ 'use_Wordiser' | translate }}
		</div>
		<div class="colored-line">
		</div>
		
	</div>
	<!-- /END SECTION HEADER -->
	
	<div class="row wow bounceIn animated" data-wow-offset="10" data-wow-duration="1.5s">
		
		<div id="screenshots" class="owl-carousel owl-theme">
			
			<div class="shot">
				<a href="images/students/1_new.png" data-lightbox-gallery="screenshots-gallery"><img src="images/students/1_new.png" alt="Screenshot"></a>
			</div>
			<div class="shot">
				<a href="images/students/2_new.png" data-lightbox-gallery="screenshots-gallery"><img src="images/students/2_new.png" alt="Screenshot"></a>
			</div>
			
			<div class="shot">
				<a href="images/students/3_new.png" data-lightbox-gallery="screenshots-gallery"><img src="images/students/3_new.png" alt="Screenshot"></a>
			</div>
			
			<div class="shot">
				<a href="images/students/4_new.png" data-lightbox-gallery="screenshots-gallery"><img src="images/students/4_new.png" alt="Screenshot"></a>
			</div>
			
			<div class="shot">
				<a href="images/students/5_new.png" data-lightbox-gallery="screenshots-gallery"><img src="images/students/5_new.png" alt="Screenshot"></a>
			</div>
			
			<div class="shot">
				<a href="images/students/6_new.png" data-lightbox-gallery="screenshots-gallery"><img src="images/students/6_new.png" alt="Screenshot"></a>
			</div>
			
			<div class="shot">
				<a href="images/students/7_new.png" data-lightbox-gallery="screenshots-gallery"><img src="images/students/7_new.png" alt="Screenshot"></a>
			</div>
			
			<div class="shot">
				<a href="images/students/8_new.png" data-lightbox-gallery="screenshots-gallery"><img src="images/students/8_new.png" alt="Screenshot"></a>
			</div>
			
			
		</div>
		<!-- /END SCREENSHOTS -->
		
	</div>
	<!-- /END ROW -->
	
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END SCREENSHOTS SECTION -->


<!-- =========================
     FEATURES 
============================== -->
<section class="features grey-bg" id="features" >

<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s">
		
		<!-- SECTION TITLE -->
		<h2 class="dark-text">{{ 'Using_Wordiser_Helps' | translate }}</h2>
		<div class="colored-line">
		</div>
		<div class="section-description">
			{{ 'FEATURES' | translate }}
		</div>
		<div class="colored-line">
		</div>
	</div>
	<!-- /END SECTION HEADER -->
	
	
	<div class="row">
		
		<!-- FEATURES LEFT -->
		<div class="col-md-4 col-sm-4 features-left wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
			
			<!-- FEATURE -->
			<div class="feature">
				
				<!-- ICON -->
				<div class="icon-container">
					<div class="icon">
						<i class="icon_profile"></i>
					</div>
				</div>
				
				<!-- FEATURE HEADING AND DESCRIPTION -->
				<div class="fetaure-details">
					<h4 class="main-color">{{ 'Personalised_Learning' | translate }}</h4>
					<p>
						<b>{{ 'Study' | translate }}</b> {{ 'when_you_want' | translate }}
					</p>
				</div>
				
			</div>
			<!-- /END SINGLE FEATURE -->
			
			<!-- FEATURE -->
			<div class="feature">
				
				<!-- ICON -->
				<div class="icon-container">
					<div class="icon">
						<i class="icon_group"></i>
					</div>
				</div>
				
				<!-- FEATURE HEADING AND DESCRIPTION -->
				<div class="fetaure-details">
					<h4 class="main-color">{{ 'Focused_Learning' | translate }}</h4>
					<p>
						<b>{{ 'Improve' | translate }}</b> {{ 'your_pronunciation' | translate }}
					</p>
				</div>
				
			</div>
			<!-- /END SINGLE FEATURE -->
			
			<!-- FEATURE -->
			<div class="feature">
				
				<!-- ICON -->
				<div class="icon-container">
					<div class="icon">
						<i class="icon_clock"></i>
					</div>
				</div>
				
				<!-- FEATURE HEADING AND DESCRIPTION -->
				<div class="fetaure-details">
					<h4 class="main-color">{{ 'Motivated_Learning' | translate }}</h4>
					<p>
						<b>{{ 'Energise_learning' | translate }}</b> {{ 'through_personalised_reviews_and_tests' | translate }}
					</p>
				</div>
				
			</div>
			<!-- /END SINGLE FEATURE -->
			
		</div>
		<!-- /END FEATURES LEFT -->
		
		<!-- PHONE IMAGE -->
		<div class="col-md-4 col-sm-4">
			<div class="phone-image wow bounceIn animated" data-wow-offset="120" data-wow-duration="1.5s">
				<img src="images/single-iphone.png" alt="">
			</div>
		</div>
		
		<!-- FEATURES RIGHT -->
		<div class="col-md-4 col-sm-4 features-right wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
			
			<!-- FEATURE -->
			<div class="feature">
				
				<!-- ICON -->
				<div class="icon-container">
					<div class="icon">
						<i class="icon_datareport_alt"></i>
					</div>
				</div>
				
				<!-- FEATURE HEADING AND DESCRIPTION -->
				<div class="fetaure-details">
					<h4 class="main-color">{{ 'Tracked_Learning' | translate }}</h4>
					<p>
						<b>{{ 'Keep_track' | translate }}</b> {{ 'of_your_progress_and_performance' | translate }}
					</p>
				</div>
				
			</div>
			<!-- /END SINGLE FEATURE -->
			
			<!-- FEATURE -->
			<div class="feature">
				
				<!-- ICON -->
				<div class="icon-container">
					<div class="icon">
						<i class="icon_gift_alt"></i>
					</div>
				</div>
				
				<!-- FEATURE HEADING AND DESCRIPTION -->
				<div class="fetaure-details">
					<h4 class="main-color">{{ 'Rewarded_Learning' | translate }}</h4>
					<p>
						<b>{{ 'Stay_motivated' | translate }}</b> {{ 'through_challenges_and_rewards' | translate }}
					</p>
				</div>
				
			</div>
			
			<!-- /END SINGLE FEATURE -->
			
			<!-- FEATURE -->
			<div class="feature">
				
				<!-- ICON -->
				<div class="icon-container">
					<div class="icon">
						<i class="arrow_left-right_alt"></i>
					</div>
				</div>
				
				<!-- FEATURE HEADING AND DESCRIPTION -->
				<div class="fetaure-details">
					<h4 class="main-color">{{ 'Connected_Learning' | translate }}</h4>
					<p>
						<b>{{ 'Connect_and_share' | translate }}</b> {{ 'with_classes_and_your_teacher' | translate }}
					</p>
				</div>
				
			</div>
			<!-- /END SINGLE FEATURE -->
			
		</div>
		<!-- /END FEATURES RIGHT -->
		
	</div>
	<!-- /END ROW -->
	
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END FEATURES SECTION -->



<!-- =========================
     TESTIMONIALS 
============================== -->
<section class="testimonials" id = "studentssay">

<div class="color-overlay">
	
	<div class="container wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
		
		<!-- FEEDBACKS -->
		<div id="feedbacks" class="owl-carousel owl-theme">
			
			<!-- SINGLE FEEDBACK -->
			<div class="feedback">
				
				<!-- IMAGE -->
				<div class="image">
					<!-- i class=" icon_quotations"></i -->
					<img src="images/clients-pic/72x72.png" alt="">
				</div>
				
				<div class="message">
					{{ 'I_love_using_Wordiser' | translate }}
				</div>
				
				<div class="white-line">
				</div>
				
				<!-- INFORMATION -->
				<div class="name">
					{{ 'Pamela' | translate }}
				</div>
				
			</div>
			<!-- /END SINGLE FEEDBACK -->
			
			<!-- SINGLE FEEDBACK -->
			<div class="feedback">
				
				<!-- IMAGE -->
				<div class="image">
					<!-- i class=" icon_quotations"></i -->
					<img src="images/clients-pic/72x72.png" alt="">
				</div>
				
				<div class="message">
					{{ 'Wordiser_helps_me_remember' | translate }}
				</div>
				
				<div class="white-line">
				</div>
				
				<!-- INFORMATION -->
				<div class="name">
					{{ 'Tetsuro' | translate }}
				</div>
				
			</div>
			<!-- /END SINGLE FEEDBACK -->
			
			
		</div>
		<!-- /END FEEDBACKS -->
		
	</div>
	<!-- /END CONTAINER -->
	
</div>
<!-- /END COLOR OVERLAY -->

</section>
<!-- /END TESTIMONIALS SECTION -->


</section>
<!-- /END FEATURES SECTION -->





<!-- =========================
     SERVICES
============================== -->
<section class="services" id="services">

<div class="container">
	
	
	<div class="row">
		
		<!-- SINGLE SERVICE -->
		<div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
			
			<!-- SERVICE ICON -->
			<div class="service-icon">
				<img class="img-circle img-responsive img-center"  src="./images/circle_study.png" alt="">
			</div>
			
			<!-- SERVICE HEADING -->
			<h3>{{ 'STUDY' | translate }}</h3>			
		</div>
		<!-- /END SINGLE SERVICE -->
		
		<!-- SINGLE SERVICE -->
		<div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
			
			<!-- SERVICE ICON -->
			<div class="service-icon">
				<img class="img-circle img-responsive img-center"  src="./images/circle_play.png" alt="">
			</div>
			
			<!-- SERVICE HEADING -->
			<h3>{{ 'PLAY' | translate }}</h3>
			
			
		</div>
		<!-- /END SINGLE SERVICE -->
		
		<!-- SINGLE SERVICE -->
		<div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
			
			<!-- SERVICE ICON -->
			<div class="service-icon">
				<img class="img-circle img-responsive img-center"  src="./images/cirlce_progress.jpg" alt="">
			</div>
			
			<!-- SERVICE HEADING -->
			<h3>{{ 'PROGRESS' | translate }}</h3>
			
		</div>
		<!-- /END SINGLE SERVICE -->
		
	</div>
	<!-- /END ROW -->
	
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END FEATURES SECTION -->




<!-- =========================
     DOWNLOAD NOW 
============================== -->
<section class="download" id="download">

<div class="color-overlay">

	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				
				
				
				
				<!-- SUBSCRIPTION FORM WITH TITLE -->
				<div class="subscription-form-container" ng-controller="APPCtrl">
					
					<h2 class="wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">{{ 'Get_latest_Wordiser_news' | translate }}</h2>
					
					<!-- =====================
					     MAILCHIMP FORM STARTS 
					     ===================== -->
					
					<form class="subscription-form mailchimp form-inline wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s" role="form">
						
						<!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
						<h4 ng-show = "subscribe_email_succeed">
							{{ 'You_have_successfully_subscribed' | translate }}
						</h4>

						<h4 ng-show = "subscribe_email_error">
							{{ 'You_have_already_subscribed' | translate }}
						</h4>
						
						<!-- EMAIL INPUT BOX -->
						<input ng-model = "subscribe_email" name="email" id="subscriber-email" placeholder="{{ 'Your_email' | translate }}" class="form-control input-box">
						

						<!-- SUBSCRIBE BUTTON -->
						<button ng-disabled = "!subscribe_email" type="submit" id="subscribe-button" class="btn btn-default standard-button" ng-click = "subscribe()">{{ 'SUBSCRIBE' | translate }}</button>
						
					</form>
					<!-- /END MAILCHIMP FORM STARTS -->
					
					<!-- =====================
					     LOCAL TXT FORM STARTS 
					     ===================== -->
					     
					<!-- THIS FORM IS COMMENTED TO HIDE 
					
					<form class="subscription-form form-inline wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s" id="subscribe" role="form">
						
						<h4 class="subscription-success"><i class="icon_check"></i> Thank you! We will notify you soon.</h4>
						<h4 class="subscription-error">Something Wrong!</h4>
						
						<input type="email" name="email" id="subscriber-email" placeholder="Your Email" class="form-control input-box">
						
						<button type="submit" id="subscribe-button" class="btn btn-default standard-button">Subscribe</button>
						
					</form>
					
					-->
					
					<!-- / LOCAL TXT SAVING FORM END -->

				</div>
                <!-- END OF SUBSCRIPTION FORM WITH TITLE -->
				
			</div> 
			<!-- END COLUMN -->
			
		</div> 
		<!-- END ROW -->
		
	</div>
	<!-- /END CONTAINER -->
</div>
<!-- /END COLOR OVERLAY -->

</section>
<!-- /END DOWNLOAD SECTION -->


<!-- =========================
     FOOTER 
============================== -->
<footer>

<div class="container">
	
	<div class="contact-box wow rotateIn animated" data-wow-offset="10" data-wow-duration="1.5s">
		
		<!-- CONTACT BUTTON TO EXPAND OR COLLAPSE FORM -->
		
		<a class="btn contact-button expand-form expanded"><i class="icon_mail_alt"></i></a>
		
		<!-- EXPANDED CONTACT FORM -->
		<div class="row expanded-contact-form">
			
			<div class="col-md-8 col-md-offset-2" ng-controller="APPCtrl">
				
				<!-- FORM -->
				<form class="contact-form" role="form">
					
					<h3  ng-show = "success">
						<i class="icon_check"></i> {{ 'Your_message_has_been_sent_successfully' | translate }}
					</h3>
					
					<h3  ng-show = "empty_info">
						{{ 'Your_message_or_contact_info_is_empty' | translate }}
					</h3>

					<h3  ng-show = "already_send">
						{{ 'Message_already_send' | translate }}
					</h3>
					


					<h3 ng-show = "error">
						<i class="icon_error-circle_alt"></i> {{ 'Email_must_be_valid_and_message' | translate }}
					</h3>
					
					<div class="col-md-6">
						<input class="form-control input-box" ng-model="name" type="text" name="name" placeholder="{{ 'Your_name' | translate }}">
					</div>
					
					<div class="col-md-6">
						<input class="form-control input-box" id="email" type="email" name="email" placeholder="{{ 'Your_email' | translate }}" ng-model="email">
					</div>
					
					<div class="col-md-12">
						<input class="form-control input-box" id="subject" type="text" name="subject" placeholder="{{ 'Subject' | translate }}" ng-model="subject">
						<textarea class="form-control textarea-box" id="message" rows="8" placeholder="{{ 'Message' | translate }}" ng-model="message"></textarea>
					</div>
					
					<!-- <p ng-if = "message_feedback">{{message_feedback}}</p> -->
					
					<button class="btn btn-primary standard-button2 " type="submit" ng-click = "sendMessage()" ng-disable = "message_feedback">{{ 'SEND_MESSAGE' | translate }}</button>
					
					<a href = "https://docs.google.com/forms/d/e/1FAIpQLSfeFuFBXfXMtRKwonsMpzcrXLkyMrXpoZ8AEE6U1x8LBcMTcg/viewform"  class="btn btn-primary standard-button2 ">{{ 'GIVE_FEEDBACK' | translate }}</a>

				</form>
				<!-- /END FORM -->
				
			</div>
			
		</div>
		<!-- /END EXPANDED CONTACT FORM -->
		
	</div>
	<!-- /END CONTACT BOX -->
	
	<!-- LOGO -->
	<img src="images/logo-black.png" alt="LOGO" class="responsive-img">
	
	<!-- SOCIAL ICONS -->
	
	
	<!-- COPYRIGHT TEXT -->
	<p class="copyright">
		&copy;2018 Wordiser, All Rights Reserved
	</p>

</div>
<!-- /END CONTAINER -->
 
</footer>
<!-- /END FOOTER -->


<!-- =========================
     SCRIPTS 
============================== -->

<script src="js/bootstrap.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/jquery.localScroll.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/nivo-lightbox.min.js"></script>
<script src="js/simple-expand.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/retina.min.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/matchMedia.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.fitvids.js"></script>
<script src="js/custom.js"></script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "http://www.wordiser.com",
  "logo": "http://www.wordiser.com/logo.png",
  "contactPoint": [{
    "@type": "ContactPoint",
    "url": "https://www.facebook.com/wordiser/",
    "contactType": "Come and talk to us!"
  }]
}
</script>

<style type="text/css">
	.hand{
  cursor: hand;
  cursor: pointer;
}


.only-logo{
    margin-top: 4vw;
}
.download-button{
    margin-top: 10vh;
}

#subscribe-button[disabled]{
	color: #333;
}
</style>
</body>
</html>